.style {
    background-color: rgba(128, 128, 128, 0.363);
}


.app {
    margin:0% 15% 0% 15%;

display: flex;
background-color: white;
}

.allItem {
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: white; */
}

h1 {
    color: gray;
}
